

body {
    background-color: floralwhite;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

#reset {
    width: 100px;
    align-self: center;
    margin: 15px;
}

#word {
    display: flex;
    justify-content: center;
    margin: 60px 10% 20px;
}

#letters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 10%;
}

.letter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    margin: 10px;
    border-bottom: 2px solid black;
}


.word-letter {
    display: none;
}


#not-in-container {
    margin: 50px 20%;
}

#not-in-container h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

#not-in-word {
    min-height: 30px;
    outline: 1px solid lightgray;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

#not-in-word p {
    margin: 5px;

}


.letter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: indigo;
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    font-size: 1.5rem;
    margin: 10px;
}

.letter-btn:hover {
    cursor: pointer;
}